<h1>dashboard</h1>
<div class="date">
    <input type="date">
</div>
<div>
<div> <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
        <h1>total tickets</h1>
      <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="''"></nz-statistic>
    </nz-col>
  </nz-row></div>
<div class ="material1">
    <h1>tickets réglés</h1>
    <nz-progress [nzPercent]="75" nzType="dashboard"></nz-progress>
</div>
<div class="material2">
    <h2>tickets en cours</h2>
    <nz-progress [nzPercent]="25" nzType="dashboard"></nz-progress></div>
</div>
    <div><nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
        <thead>
          <tr>
            <th nzCustomFilter>
              Name
              <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>Age</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu></div>